.container {
  height: 100vh;
  background-color: lavender;
  text-align: center;
  padding: 0 0;
  width: 970px;
}

.h1 {
  padding: 40px;
}

#resty-list {
  padding: 0 50px;
  font-size: 20px;

  ul {
    list-style: none;
  }
}

#new-resty-form {
  margin: auto;
  width: 500px;
}
