<div class="h1">
  <h1>Restaurants</h1>
</div>
<div id="resty-list">
    <% @restaurants.each do |resty| %>
      <div class="card">
        <%= link_to resty.name, restaurant_path(resty) %>
      </div>
    <% end %>
</div>
