<div class="h1">
  <h1>Restaurants</h1>
</div>
<div id="resty-list">
  <ul>
    <% @restaurants.each do |resty| %>
      <li>
        <%= link_to resty.name, restaurant_path(resty) %>
      </li>
    <% end %>
  </ul>
</div>
